{% extends 'layout.html' %}

{% block title %}
    Note Lists
{% endblock %}

{% block content %}
    <h2>Lists of Notes</h2>

    {% for note in notelists %}
        <ul>
            <li>
                <strong>Note Name:</strong> 
                    <a href="{% url 'notes:note-details' note.slug_link %}">{{ note.note_name }}</a>
                    <a href="{% url 'notes:note-update' note.slug_link %}">Update</a> 
                    <a href="{% url 'notes:note-delete' note.slug_link %}">Delete</a>
            </li>
            <p><strong>Created on:</strong> {{ note.note_date }}</p>
        </ul>
    {% empty %}
        <p><em>🚨</em> <strong>No Note Found.</strong></p>
    {% endfor %}
{% endblock %}